In [4]:
class Counter:
    count = 0

    def __init__(self):
        self._count = 0
    def increment(self):
        self._count += 1
        Counter.count += 1
    def get_counts(self):
        return f"instance count: {self._count}, Class count: {Counter.count}"


a = Counter()
b = Counter()

a.increment()
a.increment()
b.increment()

print(a.get_counts())
print(b.get_counts())

instance count: 2, Class count: 3
instance count: 1, Class count: 3

 1: The main difference between the Counter count and the self count is that the counter is being called in the main class where as the self count has its own definition seperately. This can have multiple implications in the rest of the code depending on the code.

 2: You recieve both the instance count and the class count. For the A.get_counts you receive instance count: 2, Class count: 3
and for B.get_counts you recieve instance count: 1, Class count: 3

3: It affects both in the sense of this code as it allows the program to add +1 to each of the variables however, given that the variables are of different nature. They are counted differently resulting in an instance count difference of 1 and 2 though the class count has stayed the same.

In [ ]:
def sum_all(*args):
  return sum(args)


print("Sum of 1, 2, 3 is:", sum_all(1, 2, 3))
print("Sum of 4, 5, 6, 7 is:", sum_all(4, 5, 6, 7))

Sum of 1, 2, 3 is: 6
Sum of 4, 5, 6, 7 is: 22

In [ ]:
students = input("Enter a list of names separated by spaces: ").split()

sortedstudents = sorted(students)

print (sortedstudents[0])

Enter a list of names separated by spaces: edwarto agorax saren thibedeaux
agorax

In [3]:
class Employee:
    employee_count = 0
    total_salary = 0

    def __init__(self, fullname, familyamount, salaryamount, department):
        self.fullname = fullname
        self.familyamount = familyamount
        self.salaryamount = salaryamount
        self.department = department
        Employee.employee_count += 1
        Employee.total_salary += salaryamount

    @classmethod
    def average_salary(cls):
        if cls.employee_count == 0:
            return 0
        return cls.total_salary / cls.employee_count

    def __str__(self):
        return f'Employee: {self.fullname}, Family: {self.familyamount}, Salary: {self.salaryamount}, Department: {self.department}'

class FulltimeEmployee(Employee):
    def __init__(self, fullname, familyamount, salaryamount, department):
        super().__init__(fullname, familyamount, salaryamount, department)

parttimeemployee1 = Employee("Tom Dryphus", "Dryphus", 50000000, "Research and Development")
parttimeemployee2 = Employee("Natalie Parker", "Parker", 6000000, "Security")
fulltimeemployee1 = FulltimeEmployee("Atticus Francais", "Francais", 7000000, "Legal")
fulltimeemployee2 = FulltimeEmployee("Milton Millard", "Millard", 8000000, "Chairman")

print(parttimeemployee1)
print(parttimeemployee2)
print(fulltimeemployee1)
print(fulltimeemployee2)

print("Mean Salary:", Employee.average_salary())

Employee: Tom Dryphus, Family: Dryphus, Salary: 50000000, Department: Research and Development
Employee: Natalie Parker, Family: Parker, Salary: 6000000, Department: Security
Employee: Atticus Francais, Family: Francais, Salary: 7000000, Department: Legal
Employee: Milton Millard, Family: Millard, Salary: 8000000, Department: Chairman
Mean Salary: 17750000.0