<a href="https://colab.research.google.com/github/EricTheProgrammer342/myspringdemo/blob/main/Homework_1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
from os import replace
import math;


PythonString = 'Python'

print(PythonString.replace('on', '  '))

PythonString = PythonString.replace('on', '  ')

llist = list(PythonString)

llist.reverse()

print(llist)

int1 = int(input("Number 1 please: "))
int2 = int(input("Number 2 please: "))

print(str(int1) + " + " + str(int2) + " = " + str(int1 + int2))
print(str(int1) + " - " + str(int2) + " = " + str(int1 - int2))
print(str(int1) + " * " + str(int2) + " = " + str(int1 * int2))
print(str(int1) + " / " + str(int2) + " = " + str(int1 / int2))

Pyth
[' ', ' ', 'h', 't', 'y', 'P']
Number 1 please: 3
Number 2 please: 3
3 + 3 = 6
3 - 3 = 0
3 * 3 = 9
3 / 3 = 1.0

In [ ]:
PythonString = "I love eating Python"
PythonString = PythonString = PythonString.replace('Python', 'Pythons')

print(PythonString)

I love eating Pythons

In [ ]:
Grade = int(input("Enter your grade percentage"))

if Grade > 89:
    print("You received an A Grade")
elif Grade > 79 and Grade <= 90:
    print("You received a B Grade")
elif Grade > 69 and Grade <= 80:
    print("You received a C Grade")
elif Grade > 59 and Grade <= 70:
    print("You received a D Grade")
else:
    print("You failed")

Enter your grade percentage65
You received a D Grade

In [ ]:
x = [23, 'Python', 23.98]

print(x)

typeof = [type(item) for item in x]

print(typeof)

[23, 'Python', 23.98]
[<class 'int'>, <class 'str'>, <class 'float'>]

In [ ]:

ITsites = {'Facebook', 'Google', 'Microsoft', 'Apple', 'IBM', 'Oracle', 'Amazon'}
A = {19, 22, 24, 20, 25, 26}
B = {19, 22, 20, 25, 26, 24, 28, 27}
age = [22, 19, 24, 25, 26, 24, 25, 24]

print("Amount of Websites:", len(ITsites))
ITsites.add('Twitter')
print("Websites with 'Twitter':", ITsites)
ITsites.update(['Snapchat', 'Spotify', 'Netflix'])
print("Websites with other companies:", ITsites)
ITsites.remove('Oracle')
print("Websites without 'Oracle':", ITsites)

AunionB = A.union(B)
print("A union B:", AunionB)

AintersectionB = A.intersection(B)
print("A intersection B:", AintersectionB)

issubset = A.issubset(B)
print("Is it a subset?", issubset)

aredisjoint = A.isdisjoint(B)
print("Are they disjointed?", aredisjoint)

AunionBPart2 = A.union(B)
BunionA = B.union(A)
print("A union B:", AunionBPart2)
print("B union A:", BunionA)

symmetric_difference = A.symmetric_difference(B)
print("Symmetric difference between A and B:", symmetric_difference)

del ITsites
del A
del B

ageset = set(age)
print("Age list amount ", len(age))
print("Age set amount ", len(ageset))

Amount of Websites: 7
Websites with 'Twitter': {'Oracle', 'IBM', 'Google', 'Microsoft', 'Twitter', 'Apple', 'Amazon', 'Facebook'}
Websites with other companies: {'Google', 'Facebook', 'Spotify', 'Oracle', 'IBM', 'Twitter', 'Netflix', 'Microsoft', 'Amazon', 'Snapchat', 'Apple'}
Websites without 'Oracle': {'Google', 'Facebook', 'Spotify', 'IBM', 'Twitter', 'Netflix', 'Microsoft', 'Amazon', 'Snapchat', 'Apple'}
A union B: {19, 20, 22, 24, 25, 26, 27, 28}
A intersection B: {19, 20, 22, 24, 25, 26}
Is it a subset? True
Are they disjointed? False
A union B: {19, 20, 22, 24, 25, 26, 27, 28}
B union A: {19, 20, 22, 24, 25, 26, 27, 28}
Symmetric difference between A and B: {27, 28}
Age list amount  8
Age set amount  5